
    <div class="row">
        <div class="col-sm-12" align="left">

            <div class="row"  style="background-color:#ffffff;height:40px;margin-left:2px;">
                <!-- <div class="col col-sm-1" style="margin-top:8px;" align="left">
                    <button style="width:80px;" class="btn-primary">MARK</button>
                </div>
                
                <div class="col-sm-1" style="margin-top:8px;" align="left">
                    <button style="width:80px;" class="btn-primary">ANSWER</button>
                </div>
                <div class="col-sm-1" style="margin-top:8px;" align="left">
                    
                </div> -->

                


                <!-- <input type="submit" onclick="clicked();" value="Button" /> -->


                
                <div class="col-sm-4" align="left">
                    
                </div>
                <div class="col-sm-1" style="margin-top:3px;" align="left">
                    {% if question_dtls.question_num > 1  %}
                   <a href = "javascript:LoadQuestion ({{question_dtls.question_num|add:'-1'}}, 'false')"><img id="logo"  src="{{ base_url }}/media/images/core/left.png"  alt="Worthy"></a>
                   {% endif %}
                </div>
                <div class="col-sm-1" style="margin-top:3px;">


                    {% if question_dtls.question_num < max_question  %}
                    <a  href = "javascript:LoadQuestion ({{question_dtls.question_num|add:'+1'}}, 'true')"><img id="logo"  src="{{ base_url }}/media/images/core/right.png" alt="Worthy"> </a>
                    {% endif %}
                   <!-- <a  href = "/exam/{{course_slug}}/{{next_question}}"><img id="logo"  src="{{ base_url }}/media/images/core/right.png" alt="Worthy"> </a> -->
                </div>
                
                <div class="col-sm-1" style="margin-top:8px;font-Weight:BOLD;" align="left">
                    <button  style="width:160px;" class="btn-primary" onClick = "EvaluateExam('{{question_dtls.question_num}}')">Evaluate</button>
                </div>
                <div class="col-sm-1" align="left">
                    
                </div>
                <div class="col-sm-1" align="left">
                    
                </div>
                
                <div class="col-sm-1" style="margin-top:8px;font-Weight:BOLD;" align="left">
                    <!-- <button  style="width:160px;margin-left:100px;" class="btn-primary" >MORE QUESTIONS</button> -->
                    <!-- <a href="/login/"  style="width:140px;height:25px;margin-left:50px;padding:1px;" align="center" class="btn btn-primary" ><b >MORE QUESTIONS</b></a>									 -->
                    {% if not user.is_authenticated %} 
                    <a href="/login/"  style="width:140px;height:25px;margin-left:50px;padding:1px;" align="center" class="btn btn-primary" ><b >MORE QUESTIONS</b></a>
                     {% endif %}
                    
                </div>
            </div>
            
            
            
            
            
            
            <div class="row"style="margin-top: 15px;" >
                <div class="col-sm-6" align="left">
                <div class="row" style="background-color:#ffffff;height:30px;margin-left:2px;">
                    <div class="col-sm-6" style="margin-top:5px;" align="left">
                        {% if not user.is_authenticated %} 
                        FREETEST 
                        {% else %}
                        PRACTICE EXAM
                        {% endif %}- QUESTION 
                    </div>
                    <div style="margin-top:5px;"  class="col-sm-6" align="right">
                        <!-- CORRECT ANSWER: A -->
                        QUESTION : {{question_dtls.question_num}}/{{max_question}}
                    </div>
                    <!-- <div style="margin-top:5px;"  class="col-sm-2" align="left">
                      <img id="logo" src="{{ base_url }}/media/images/core/arrow.png" alt="Worthy"> 
                    </div> -->
                </div>
                
                
                <div class="row" style="margin-top: 15px;margin-left:2px;">
                    <div class="col-sm-12" style="background-color:#ffffff;padding-top: 5px;" align="left">

                        {{question_dtls.question}}

                        <!-- Which of the following variables best represents a strategic performance measure? -->
                    </div>
                    {% if img_exists == 'yes'%}
                    <div class="col-sm-12" style="background-color:#ffffff;padding-top:5px;min-height:200px;" align="left">
                        
                        <img id="logo" style="margin-bottom:20px;" src="{{ base_url }}/media/exam/inline-img-exam{{course_id}}-page{{question_dtls.question_num|add:1}}-img0.png" alt="Worthy">
                    </div>
                    {% endif %}
                      
                </div>
                </div>
                
                
                
                <div class="col-sm-6" align="center">
                    <div style="background-color:#ebebf9;margin-left:2px;" class="row">
                    <div  class="col-sm-1" align="left" style="font-weight: bold;">
                       A
                    </div>
                    <div class="col-sm-1"  style="padding-bottom: 4px;">
                        <input  style="height:16px;width:16px;" 
                        type="checkbox" name="{{course_id}}_{{question_dtls.question_num}}_A" id="{{course_id}}_{{question_dtls.question_num}}_A"
                        {% if option_a == "true" %}
                        checked ='true'
                        {% endif %}
                        
                        >
                    </div>
                   
                    
                    </div>
                    <div style="background-color:#ffffff;min-height:60px;margin-left:2px;" class="row">
                    <div style="padding-top: 2px;" class="col-sm-12" align="left">
                        {{question_dtls.option_a}}
                    </div>
                    </div>
                    
                    <div style="background-color:#ebebf9;margin-left:2px;" class="row">
                    <div  class="col-sm-1" align="left" style="font-weight: bold;">
                       B
                    </div>
                    <div class="col-sm-1"  style="padding-bottom: 4px;">
                        <input  style="height:16px;width:16px;" type="checkbox" name="{{course_id}}_{{question_dtls.question_num}}_B" id="{{course_id}}_{{question_dtls.question_num}}_B"
                        {% if option_b == "true" %}
                        checked ='true'
                        {% endif %}
                        >
                    </div>
                    <!--<div class="col-sm-4" style="margin-top:2px;" align="left">
                       <img id="logo" src="./arrow1.png" alt="Worthy"> 
                    </div> -->
                    
                    </div>
                    <div  style="background-color:#ffffff;min-height:60px;;margin-left:2px;" class="row">
                    <div style="padding-top: 2px;" class="col-sm-12" align="left">
                        {{question_dtls.option_b}}
                    </div>
                    </div>
                    
                    <div style="background-color:#ebebf9;margin-left:2px;"class="row">
                    <div  class="col-sm-1" align="left" style="font-weight: bold;">
                       C
                    </div>
                    <div class="col-sm-1"  style="padding-bottom: 4px;">
                        <input  style="height:16px;width:16px;" type="checkbox" name="{{course_id}}_{{question_dtls.question_num}}_C"  id="{{course_id}}_{{question_dtls.question_num}}_C"
                        {% if option_c == "true" %}
                        checked ='true'
                        {% endif %}
                        >
                    </div>
                    <!--<div class="col-sm-4" style="margin-top:2px;" align="left">
                      <img id="logo" src="./arrow1.png" alt="Worthy">  
                    </div> -->
                    
                    </div>
                    <div style="background-color:#ffffff;min-height:60px;;margin-left:2px;" class="row">
                    <div style="padding-top: 2px;" class="col-sm-12" align="left">
                        {{question_dtls.option_c}}
                    </div>
                    </div>
                    
                    <div style="background-color:#ebebf9;margin-left:2px;" class="row">
                    <div  class="col-sm-1" align="left" style="font-weight: bold;">
                       D
                    </div>
                    <div class="col-sm-1"  style="padding-bottom: 4px;">
                        <input  style="height:16px;width:16px;" type="checkbox" name="{{course_id}}_{{question_dtls.question_num}}_D"  id="{{course_id}}_{{question_dtls.question_num}}_D"
                        {% if option_d == "true" %}
                        checked ='true'
                        {% endif %}
                        >
                    </div>
                    <!--<div class="col-sm-4" style="margin-top:2px;" align="left">
                       <img id="logo" src="./arrow1.png" alt="Worthy"> 
                    </div> -->
                    
                    </div>
                    <div style="background-color:#ffffff;min-height:60px;;margin-left:2px;" class="row">
                    <div style="padding-top: 2px;" class="col-sm-12" align="left">
                        {{question_dtls.option_d}}
                    </div>
                    </div>
                   
                   
                </div>
            </div>

        </div>
    </div>
