{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock title %}

{% block content %}
<section class="section  pclear secPadding" style="background-color:#ebebe0;"></section>
<div class="container" style="margin-top:15px;width:98%"  align="center">
                
    <div class="row " style="margin-top: 20px;">
        <div class="col-sm-12" align="center" style="background-color:#ffffff">
            <h2 style="font-weight:bold;">Amazon AWS-Certified-Solutions-Architect-Associate Dumps</h2>
            <h2 style="font-size:20px;font-weight:bold;">Amazon AWS-Certified-Solutions-Architect-Associate: AWS Certified Solutions Architect - Associate (SAA-C01)</h2>
        </div>
    </div>
    
    <div class="row " style="margin-top: 20px;height:200px;">
        <div class="col-sm-12" align="center" >
            <ul align="left" style="margin-left:20px;">
                <li><a style="color:black;">Get instant access to AWS-Certified-Solutions-Architect-Associate practice exam questions</a></li>
                <li><a style="color:black;">Get ready to pass the AWS-Certified-Solutions-Architect-Associate exam right now using our Amazon AWS-Certified-Solutions-Architect-Associate exam package, which includes Amazon AWS-Certified-Solutions-Architect-Associate practice test plus an Amazon AWS-Certified-Solutions-Architect-Associate Exam Simulator and Mobile App.</a></li>
                <li><a style="color:black;">The best AWS-Certified-Solutions-Architect-Associate exam study material and preparation tool is here.</a></li>
            </ul>
            <div class="col-sm-12" align="center" >
                <button style="width:100px;height:40px;font-size:25px;" type="start" class="btn-primary" onclick="/exam/">Start</button>									
            </div>											
        </div>
    </div>
    
    
</div>
    
 </section   

{% endblock content %}