<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">


    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>

        <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
        <meta name="robots"
              content="noindex">


        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&display=swap"
              rel="stylesheet">


        
        <!-- Perfect Scrollbar -->
        <!-- <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet"> -->
        
        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="{% static 'assets/bootstrap/css/bootstrap.css' %}perfect-scrollbar.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="{% static 'assets/bootstrap/css/bootstrap.css' %}material-icons.css"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="{% static 'assets/bootstrap/css/bootstrap.css' %}fontawesome.css"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="{% static 'assets/bootstrap/css/bootstrap.css' %}spinkit.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="{% static 'assets/bootstrap/css/bootstrap.css' %}app.css"
              rel="stylesheet">

        <!-- Specific CSS goes HERE -->
        {% block stylesheets %}{% endblock stylesheets %}
    </head>

<body>

    <!-- [ Pre-loader ] start -->
    <div class="preloader">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>

        <!-- <div class="sk-bounce">
<div class="sk-bounce-dot"></div>
<div class="sk-bounce-dot"></div>
</div> -->

        <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html -->
    </div>
    <!-- [ Pre-loader ] End -->


    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <!-- {% include 'includes/navigation.html' %} -->
        {% include 'includes/navigation.html' %}
        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div data-push
                 data-responsive-width="992px"
                 class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">

                    {% block content %}{% endblock content %}

                </div>

                
                {% include 'includes/sidebar.html' %}
            </div>

            <!-- App Settings FAB
            <div id="app-settings">
                <app-settings layout-active="default"
                              :layout-location="{
                                'fixed': 'fixed-student-dashboard.html',
                                'default': 'student-dashboard.html'
                                }"
                              sidebar-variant="bg-transparent border-0"></app-settings>
            </div> -->

        </div>
    </div>

    <!-- jQuery -->
    <script src="{{ ASSETS_ROOT }}/plugins/jquery/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="{{ ASSETS_ROOT }}/js/popper.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="{{ ASSETS_ROOT }}/js/perfect-scrollbar.min.js"></script>

    <!-- MDK -->
    <script src="{{ ASSETS_ROOT }}/js/dom-factory.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/material-design-kit.js"></script>

    <!-- App JS -->
    <script src="{{ ASSETS_ROOT }}/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="{{ ASSETS_ROOT }}/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="{{ ASSETS_ROOT }}/js/app-settings.js"></script>

    <!-- Global Settings -->
    <script src="{{ ASSETS_ROOT }}/js/settings.js"></script>

    <!-- Moment.js -->
    <script src="{{ ASSETS_ROOT }}/js/moment.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/moment-range.js"></script>

    <!-- Chart.js -->
    <script src="{{ ASSETS_ROOT }}/js/Chart.min.js"></script>
    <script src="{{ ASSETS_ROOT }}/js/chartjs.js"></script>

    <!-- Student Dashboard Page JS -->
    <!-- <script src="assets/js/chartjs-rounded-bar.js"></script> -->
    <script src="{{ ASSETS_ROOT }}/js/page.student-dashboard.js"></script>

    <script src="{{ ASSETS_ROOT }}/js/jquery.countdown.min.js"></script>

    <script src="{{ ASSETS_ROOT }}/js/countdown.js"></script>
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
