{% extends "base.html" %}
{% load static %}
{% block title %} {{ aboutinfo.title }} {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <div class="card" style="background-image:url('/static/assets/media/images/core/header.jpg');">
        <header style="border-radius: 10px; margin-top: 10px;" class="text-center text-white d-flex masthead">
          <div class="container my-auto">
              <div class="row">
                  <div class="col-lg-10 mx-auto">
                      <h1 class="text-faded text-uppercase"><strong style="color: #FFF;">About US</strong></h1>
                      <hr>
                  </div>
              </div>
              <div style="padding-bottom: 20px;" class="col-lg-8 mx-auto">
                  <p class="text-faded mb-5">Our goal is to offer an innovative Web Simulator to students and IT professionals to study and prepare to pass the final certification exam. Exams are always updated with the latest questions and they can be used as real exam simulators to study and get ready.

                    Our unique and up-to-date study material reliably simulates the true final exam helps achieving 100% success.
                    
                    Our exams consist of a true set of questions and answers. Each question also has a clear and simple explanation and in this way it is easy to remember and memorize the exam questions.</p><a href="/contactus" class="btn btn-primary btn-xl" role="button">Find Out More</a>
              </div>
          </div>
        </header>
      </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
