{% extends "base.html" %}
{% load static %}
{% block title %} AddCourse {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="container-fluid page__container">
		<section class="section transprant-bg pclear secPadding">
			<div class="container no-view" data-animation-effect="fadeIn">
				<div class="space"></div>
				<div class="row">
					<div class="space"></div>
					<div class="col-md-3 col-sm-3"></div>
					<div class="col-md-6 col-sm-6">
						<div class="panel panel-primary">
							<div class="panel-body">
                                <div class="row" > 
                                    <div class="col col-md-12" align="center">
                                        <h2 style="color:#006ce7;"> Exam Question</h2>
                                    </div>
                                </div>
                                <div class="space"></div>
                                <form method="POST" action="" enctype="multipart/form-data">
                                <div class="row" > 
                                
                                    {% csrf_token %}
                                    <div class="col col-md-5" align="center" style="color:#006ce7;">
                                        <b>Question File (PDF) :  </b>
                                    </div>
								<div class="col col-md-5" style="color:#006ce7;">
                                         {{form.pdf_file}}
								</div>
								</div>
                                 <div class="space"></div>
                                 <div class="space"></div>
								<div class="row">
                                    <div class="col col-md-12" align="center">
								<button type="submit" class="btn btn-primary">Submit</button> 
                            </form>
                            </div>
                                </div>
                            
							</div> 
							<div class="space"></div>
							</div>
						</div>
					</div>					
				</div>
			</div>			  
		</section>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
